/**
 ** Generic style rules common to all platforms
http://notebook2share.blogspot.fr/2011/12/qt-style-sheet-example.html
 **/

QWidget {
 color: black;
 margin: 0px;
}

/* The background of the tab bar */
QMainWindow, BlogView {
    background-color: #ececec;
    padding: 0;
    margin: 0;
}

/* View backgrounds. Some of these may be overlapping or unnecessary. */
/* XXX: some of these are just shit
QScrollArea, QWidget#layoutWidget, QListWidget
{ 
  background: qlineargradient(
    x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #F0F0F0, stop: 1 #A3A3A3);
    color: black;
    padding: 0;
    margin: 0;
}
*/

/* XXX: waaay too generic, but oh so important... */
/* This is the cause of all those `... QLabel { background: none; }` things down there */
QFrame {
    background-color: #ececec;
}

/* Dialogs */
QDialog {
 background-color: #ececec;
 border: 1px solid #21759B;
}

/* Add post/page specials */
AddPostView > QLabel, 
WritePageView > QLabel 
{
 padding: 0.2em 0 0.2em 0;
}

/* Form fields */
QLabel {
 background: #ececec;
 padding: 0;
 margin: 0;
 color: black;
}

/* Form fields */
QLabel#dateTimeLabel, 
QLabel#dateLabel,
QLabel#blogStartLabel,
QLabel#resizeLabel
{
    background: none;
    padding: 0;
    margin: 0;
    color: black;
}

QCheckBox {
 background: none;
 color: #848484;

}

QCheckBox:focus {
 color: black;
}

/* Seems not to work, why?
QCheckBox::indicator {
 border: 1px solid gray;
 border-radius: 2px;
}
*/

QLineEdit, QTextEdit {
 border: 1px solid gray;
    
    background: #fafafa;
 
    color: #848484;

 padding: 0.2em;
 border-radius: 3px;
}

QLineEdit:focus, QTextEdit:focus {
 border: 1px solid black;

 color: black;
}

QTextEdit {
 /* Text color can't really be set * /
 color: black;
    */
}

/* 
 * Push-button controls 
 */
QPushButton,
QComboBox::drop-down,
QDateTimeEdit::drop-down,
QCalendarWidget QToolButton
{
    /* Blue gradient */
    background: qlineargradient(
        x1: 0, y1: 0, 
        x2: 0, y2: 1,
        stop: 0 #3783a5, 
        stop: 1 #1e698c
    );

 border: 1px solid #b3b3b3;
 border-radius: 4px;

 padding: 0.5em;

    /* White text against blue background */
    color: white;
}

QPushButton:focus {
    /* XXX: come up with some focus indicator 
    border: 1px solid black;
    */
}

QPushButton:pressed,
QComboBox::drop-down:pressed, 
QDateTimeEdit::drop-down:pressed,
QCalendarWidget QToolButton:pressed
{
    /* XXX: update */
    background: qlineargradient(
        x1: 0, y1: 1, 
        x2: 0, y2: 0,
        stop: 0 #3783a5, 
        stop: 1 #1e698c
    );
}

QPushButton:checked {
    /* XXX: update */
    background: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0,
                    stop: 0 #77c3e5, stop: 1 #5ea9cc);
}

/* QComboBox/QDateTime popups*/
QComboBox, QDateTimeEdit {
        background: none;

        border: 1px solid gray;
        border-radius: 3px;

        padding: 0.2em;

        color: gray;
}

QComboBox:focus, QDateTimeEdit:focus {
        border: 1px solid black;

        color: black;
}

/* The drop-down arrow button */
QComboBox::drop-down, QDateTimeEdit::drop-down {
 min-width: 40px;
 max-width: 40px;
 
    /* XXX: ??? */
    margin: -1px;
}

QComboBox::down-arrow, QDateTimeEdit::down-arrow {
    /* Custom dropdown symbol */
 image: url(:/images/downarrow-bg.png);
}

QDateTimeEdit * {
    color: black;
    background: #ececec;
    border: 1px solid gray;
    selection-color: white;
    selection-background-color: #21759b;
}

QCalendarWidget > QWidget {
    border: none;
}


/* 
 * Layout 
 */
QMainWindow > QWidget#layoutWidget {
    margin: 0px;
    padding: 0px;
}


/*
 * Default style for widgets
 */
QComboBox:focus, QDateTimeEdit:focus {
    border: 1px solid black;
}

QComboBox::drop-down:focus, QDateTimeEdit::drop-down:focus {
    border: 1px solid black;
}

/* 
 * Content view 
 */
QStackedWidget {
 padding: 0px;
 margin: 0px;
}

QStackedWidget > * {
    margin: 0px;
    padding: 0px;
}


/* CategoryView */
CategoryView {
    padding: 0px;
    
    /* Solid */
    background: #ececec;
}

QTreeView {
    margin: 0px 0px 5px 0px;

    /* Solid */
    background-color: #ececec;
    color: black;

    /* ??? on Maemo */
    show-decoration-selected: 0;

    /* Do not decorate branches on maemo */
    selection-background-color: #ececec;
    selection-color: black;
}

QTreeView::item {
    padding: 5px 10px;

    /* XXX: doesn't really apply */
    min-height: 80px;
    max-height: 80px;

    font-size: 18px;

    /* Gradient */
    background: qlineargradient(
        x1: 0, y1: 0, 
        x2: 0, y2: 1,
        stop: 0 #f1f1f1,
        stop: 1 #d6d6d6
    );

    border-bottom: 1px solid #b2b2b2;
 border-radius: 0px;
}

/* XXX: uncommenting these messes up the entire QSS */
QTreeView::item {
/*    border-top: qlineargradient(
        x1: 0, y1: 0,
        x2: 0, y2: 1,
        stop: 0.0 rgb(236, 236, 236),
        stop: 0.5 rgb(205, 205, 205),
        stop: 1.0 rgb(156, 156, 156)
    ); */
}

QTreeView::item {
/*    border-bottom: qlineargradient(
        x1: 0, y1: 1,
        x2: 0, y2: 0,
        stop: 0.0 rgb(236, 236, 236),
        stop: 0.5 rgb(205, 205, 205),
        stop: 1.0 rgb(156, 156, 156)
    );
    */
}

QTreeView::item:focus {
    background: #ffffff;
}

/* XXX: style from UX */
QTreeView::item:selected {
    /* Use background-color here in addition to selection-background-color */
    background-color: #B2D9FB;    /* Blue */
    color: black;
}

QTreeView::branch {

}

